<a href="https://colab.research.google.com/github/wjswltjf1/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**학습목표**

1. python 언어에서 변수의 의미를 이해하기
2. 기본 데이터 타입을 선언하기(int,float,str,bool)

더블클릭 또는 Enter 키를 눌러 수정

### ***대입연산자***

1.

*   대입의 경우, 오른쪽의 수식이나 값을 계산한 뒤, 왼쪽 변수에 값을 대입
*   변수는 해당 값을 가지게 된다

In [ ]:
a = 10 #int
b = 11.4 #f loat

In [ ]:
print(a)

10

### ***주석(comment)***
* 코드에서 #으로 시작하는 뒷부분은 실행 안함
*python이 실행할때 #만나면 무시
*개발자(사람)이 보기 위한 용도로 사용

In [ ]:
#상록이 수학점수
#지우지 마세요
math = 11
engl = 57.8

### **pr int 함수**
* 함수란 특정 기능을 반복적으로 호출하여 사용 가능한 코드블럭
* 해당 변수 값이 출력
* 기분적으로는 한칸 띄어쓰기 후 출력

In [ ]:
print(a,b)

10 11.4

In [ ]:
print(engl, 20, "하영썜")

57.8 20 하영썜

#### **변수 값 확인 방법**
1. print() 함수 사용
2.변수 값을 코드의 마지막에 위치 시킨 후 실햏
 - 이경우 변수의 값이 출력된다

### **변수 이용 규칙**
  * 숫자로 시작하는 이름을 제외하고 영문 대소문자,_, 숫자로 구성 가능*변수 이용 규칙**
    * 숫자로 시작하는 이름을 제외하고 영문 대소문자,_, 숫자로 구성 가능
     - 숫자로 시작은 안된다!
     *일반적으로 변수를 표현할떄 정확하고 간결한 이름을 사용하여 쉽게 이해하도록 설정한다
     - 예)a=900 hy_student_num = 900 으로 명시하는 것이 이해가 빠르다.

In [ ]:
abAB = 100
#4_num = 10 # 숫자로 시작하여 실행 안됨
ABab = 200
_right = 800

### **예약어(키워드)**
* python에서 미리 선점하여 사용중인 키워드
* 변수,함수,클래스 등 사용자 정의 이름으로 사용할수 없음

In [ ]:
#for = 10 #for은 예약어로 변수 사용 불가
_for = 100
_for

100

### **기본 데이터 타입**
1. 정수형 int
2. 실수(afloat) 
3. 문자열 str
4. 불리언(boolean)

In [1]:
a = 10 # 정수형
b = 15.6 #실수형
c= "2학기 회장은 세준이" # 문자형
d = a > b  # 불리언

print(a,b,c,d)

10 15.6 2학기 회장은 세준이 False

### **type() 함수**

해당 변수, 값의 타입(type) 을 알고 자할 떄 사용하는 함수

In [2]:
print (type(a) ,type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

### **None 타입**

* 아물런 값을 갖지 않을 떄 사용
* 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할떄 사용
* 다른 언어에서는 NULL 과 같은 의미로 사용

In [3]:
n = None
print(n)

None

### **비교 연산자**
- 프로그래밍에서는 '=' 이게 아니라 == 를 사용
  - 예) 2학기 회장 == 상록 #참
  - 작다, 크다 (>,<) 
  - 작거나 같다 크거나 같다 (=> , <=)
 - 같다 (==)
 - 같이 않다(!=)
  - 예) 2학기 회장 != 지설 # 거짓
  - 졀론적으로 비교 연산자 결화는 bool 타입으로 출력

In [8]:
ss = 76100
nv = 434000

print(ss>nv)
print(nv>ss)

print(nv<=ss)
print(nv>=ss)

print(nv==ss)
print(nv!=ss)

False
True
False
True
False
True

### **기본 연산자**

a+b

In [13]:
print(ss + nv)
print (ss - nv)
print( ss * nv)
print( ss / nv)
print( nv % ss)

a = 3
b = 2

print(a ** b)

510100
-357900
33027400000
0.17534562211981566
53500
9

### **연산자 우선순위**

* 기본적으로 수학의 연산자와 동일
* 먼저 연산을 위하여 괄호()를 사용

In [16]:
a = 5
b = 4
print(a+b*50)
print((a+b)*50)

205
450

### **학습목표**
1. 문자열(str)타입 이해하기

### **문자열(str)**
- 여러 개의 문자를 순서대로 나열한 것
- 문자열은'(작은따움표)' 혹은 ""(큰따움표) 사이에 문자를 넣어서 생성
-' , "    """(여러번 쓸경우) :여저줄에 걸쳐 문자열이 표현 가능
- 문자열 자체에 '," 있을경우에는 그 반대의 기호로 생성

In [26]:
a = "hello' world"
b = 'hello" world'

c = '''hello world

it is hayoung'''

d = """hello world

it is hayoung"""

print (a)
print (b)
print (c)
print (d)

hello' world
hello" world
hello world

it is hayoung
hello world

it is hayoung

**이스케이프(escape) 문자**

* '탈출 효과' 를 주기 위해 문자열 내부에 넣는다
* \n 앤터(다음줄)
'\ㅅ' : tab

In [31]:
print('hello\n\n world')
print('이렇게 앤터를 \n\n치면 됩니다')
print('2학기 회장:\t 오상록')
print('1학기 회장 \t 전지설')

hello

 world
이렇게 앤터를

치면 됩니다
2학기 회장:	 오상록
1학기 회장 	 전지설