<a href="https://colab.research.google.com/github/wjswltjf1/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 파이썬 변수로 사용할수 없는것은?

_num = 1
num = 2 
num = 3
#2num = 3
#앞에 숫자는 올수없다.
n_um = 3

In [4]:
#2각 변수에 저장된 최종값은?
sum = 0
n1 = 10
n1 = n1+10
n2 = 20
n2 = 20
num = n1+n2
print(n1,n2,sum)

20 20 0

In [6]:
#3적절한 연산자 찾기
print(17//4)
print(17/4)
print(17%4)

4
4.25
1

In [7]:
#4 클래스 타입찾기
#age = 17
age = 17,7
print(type(type(age)))

<class 'type'>

In [9]:
#5문자역 인덱싱
s = "Hello Hanyang!"
print( s[5], s[-5])

  y

In [13]:
#6 upper()함수와 분자열 슬라이싱
s = "Hello Hanyang"
print(s)
s  = s.upper()
print(s)
print(s[:8])
print(s[8:])
print(s[1:10])

Hello Hanyang
HELLO HANYANG
HELLO HA
NYANG
ELLO HANY

In [14]:
# 7 다음중 여러 데이터를 다루는 팜이썬 자료형
#리스트,튜플,딕셔너리,셋

In [18]:
# 8~9 리스트
a = ['a',1,'python',(1,2),'2',[1,2]]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [21]:
# 10 파이썬 코드
nums = list(range(4))
print(nums)
nums.insert(3,100)
print(nums)

[0, 1, 2, 3]
[0, 1, 2, 100, 3]

In [23]:
# 11 변수의 최종값
a = 100
b = 200
a,b = b,a
print(a,b)

200 100

In [27]:
#12  딕셔너리

a = {'han':1, 1:2, '1':3}
a[1] = 'yang'
print(a)

{'han': 1, 1: 'yang', '1': 3}

In [28]:
#13 셋
a = set ([1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3])
print(a)
b = set ('Hello')
print(b)

{1, 2, 3}
{'e', 'H', 'o', 'l'}

In [31]:
room = [[0,0,1,0,0,],
        [1,0,1,0,1],
        [0,1,1,1,9]]
        
mouse = room[0][2]

if mouse == 1:
  print("cheese")
elif mouse == 9:
  print("ttap")
else:
  print("nothing")

cheese

In [35]:
#16~17

a = 0
b = 0

for i in range(3,9):
  if i%2 == 0 and i % 3 ==0:
    continue
  elif i%2 ==0:
    a += 1
  elif i%3 ==0:
    b+=1
print(a,b)

2 1

In [51]:
#18~20

print("메뉴번호 1.쿠키(300원) 2. 짬뽕(500원) 3. 치킨(700원)")

money = int(input("투입금액: "))
menu = int(input("매뉴번호: "))

if menu == 1:
  money = money-300
elif menu == 2:
  money = money-500
elif menu == 3:
  money -=700

if money <0:
  print("금액이부족하다. 노예야")
else:
  won1000 = money//1000
  won500 = (money%1000)//500
  won100 = ((money%1000)%500)//100
  print( "거스름돈: 1000원{}개, 500원{}개, 100원{}개".format(won1000,won500,won100))

메뉴번호 1.쿠키(300원) 2. 짬뽕(500원) 3. 치킨(700원)
투입금액: 5000
매뉴번호: 2
거스름돈: 1000원4개, 500원1개, 100원0개

In [ ]:
2