<a href="https://colab.research.google.com/github/wjswltjf1/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**학습목표**

1. python 언어에서 변수의 의미를 이해하기
2. 기본 데이터 타입을 선언하기(int,float,str,bool)

더블클릭 또는 Enter 키를 눌러 수정

### ***대입연산자***

1.

*   대입의 경우, 오른쪽의 수식이나 값을 계산한 뒤, 왼쪽 변수에 값을 대입
*   변수는 해당 값을 가지게 된다

In [ ]:
a = 10 #int
b = 11.4 #f loat

In [ ]:
print(a)

10

### ***주석(comment)***
* 코드에서 #으로 시작하는 뒷부분은 실행 안함
*python이 실행할때 #만나면 무시
*개발자(사람)이 보기 위한 용도로 사용

In [ ]:
#상록이 수학점수
#지우지 마세요
math = 11
engl = 57.8

### **pr int 함수**
* 함수란 특정 기능을 반복적으로 호출하여 사용 가능한 코드블럭
* 해당 변수 값이 출력
* 기분적으로는 한칸 띄어쓰기 후 출력

In [ ]:
print(a,b)

10 11.4

In [ ]:
print(engl, 20, "하영썜")

57.8 20 하영썜

#### **변수 값 확인 방법**
1. print() 함수 사용
2.변수 값을 코드의 마지막에 위치 시킨 후 실햏
 - 이경우 변수의 값이 출력된다

### **변수 이용 규칙**
  * 숫자로 시작하는 이름을 제외하고 영문 대소문자,_, 숫자로 구성 가능*변수 이용 규칙**
    * 숫자로 시작하는 이름을 제외하고 영문 대소문자,_, 숫자로 구성 가능
     - 숫자로 시작은 안된다!
     *일반적으로 변수를 표현할떄 정확하고 간결한 이름을 사용하여 쉽게 이해하도록 설정한다
     - 예)a=900 hy_student_num = 900 으로 명시하는 것이 이해가 빠르다.

In [ ]:
abAB = 100
#4_num = 10 # 숫자로 시작하여 실행 안됨
ABab = 200
_right = 800

### **예약어(키워드)**
* python에서 미리 선점하여 사용중인 키워드
* 변수,함수,클래스 등 사용자 정의 이름으로 사용할수 없음

In [ ]:
#for = 10 #for은 예약어로 변수 사용 불가
_for = 100
_for

100