<a href="https://colab.research.google.com/github/wjswltjf1/python/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **학습목표**

- 반복문의 이해 및 활용
- 너무 빨리가서 못씀

### **for 반복문**
- 리스트, 문자열 등을 순회하면서 값을 처리할떄 사용
- i는 매번 문장을 수행할 떄마다 a 리스트 안의 값으로 순차적으로 변경된다
- 모든 a 안의 값이 수행되면 for문의 블록은 종료된다

```
# 코드로 형식 지정됨
```

In [1]:
a = [1,2,3,4,5] # 리스트

for i in a:
  print(i)

1
2
3
4
5

In [5]:
#문자열에서 아이템을 출력해보기
for x in "Hello comnet B!":
  print(x)

H
e
l
l
o

c
o
m
n
e
t

B
!

In [8]:
# a 리스트 안의 수가 짝수면 그 수를 2로 나누고
# 홀수일 경우 2를 곱한 수를 출력하시오

a = [1,10,6,29,18,7] # 짝수와 홀수의 리스트

for i in a:
  if i % 2 == 0:
    print(i//2)
  else:
    print(i*2)

2
5
3
58
9
14

## **break**

- 특정 조건을 만족할떄 그 블록을 빠져나오기 위해서 사용

In [10]:
a = [1,10,6,29,18,7]

for i in a:
  if i>20:
    print(i)
    break

29

In [31]:
t = int(input())

for i in range(t):
  a,b = input().split()
  a = int(a)
  b = int(b)
  print(a+b)

1
1 1
2

### **contiune**

- 해당 아이템을 건너뛰고 싶을떄 사용

In [35]:
a = [3,9,7,29,18]

for i in a:
  if i>5 and i < 20:
    continue
  print(i)

3
29

### **range**

- 리스트 혹은 큐플을 쉽게 만들수 있는 내장 함수
- 주어진 값에 따라 다양한 결과를 반환

```python\
range(10)           -> [1,2,3,4,5,6,7,8,9]
range(2,10)         -> [2,3,4,5,6,7,8,9]
range(2,10,3)       -> [2,5,8]
```

In [39]:
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2,10,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

## **구구단 출력하기**

- 2단부터 9단까지
- 각 단은 1부터9까지 곱하도록

> [2단]
>2 * 1 = 2
>2 * 2 = 4
>.......
>2 * 9 = 18
> - 총9단까지 출력

In [61]:
print('구구단 출력하기\n')
for i in range(2,10):
  print('[',i,'단 ]')
  for i in range(1,10):
    print('2 *', i, '=' ,2 * i)
  print()

구구단 출력하기

[ 2 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 3 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 4 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 5 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 6 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 7 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 8 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 9 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18